//COLORS
$primary-color: #55c57a;
$primary-color-light: #7ed56f !global;
$primary-color-dark: #28b485 !global;
$color-grey-dark: #777 !global;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;
$color-grey-dark-footer: #333 !global;

//GRID
$grid-width: 114rem !global;
$gutter-vertical: 8rem !global;
$gutter-vertical-small: 6rem !global;
$gutter-horizontal: 6rem !global;

//FONT
$default-text-size: 1.6rem;

//CARD
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
